---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/HomeHeader.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_TITLE } from '../consts';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, image, unlisted } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={`${title} | ${SITE_TITLE}`} description={description} image={image?.src} />
		<style lang="scss">
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
        padding-top: 1em;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h2 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header selected="blog" />
		<main>
			<article>
				<div
					class="hero-image"
				>
					{image && <img width={700} src={image.src} alt="" transition:name={`blog hero ${image.src} image`} />}
				</div>
				<div class="prose">
					<div class="title">
						<div
							class="date"
							transition:name={`blog title ${title} date`}
						>
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
							{ unlisted && '(unlisted)' }
						</div>
						<h2
							transition:name={`blog title ${title}`}
						>
							{title}
						</h2>
						<hr />
					</div>
					<slot />
					<section class="giscus mx-auto mt-10 w-full"></section>
					<script src="https://giscus.app/client.js"
						data-repo="darkzek/portfolio"
						data-repo-id="R_kgDONQ_Mpw"
						data-category="Blog Post Comments"
						data-category-id="DIC_kwDONQ_Mp84CnEGJ"
						data-mapping="url"
						data-strict="0"
						data-reactions-enabled="1"
						data-emit-metadata="0"
						data-input-position="bottom"
						data-theme="light"
						data-lang="en"
						data-loading="lazy"
						crossorigin="anonymous"
						async>
				</script>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	.baseline-status {
		margin: 22px 0px;
	}
	h1, h2, h3, h4, h5, h6 {
		margin-top: 3rem;
	}
</style>